* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #3A3845;
    --primaryfont: Inter;
    --secondary-color: #E5E5E5;
}



.container {
    margin: 0 auto;
    width: calc(100% - 330px);
}




.header {
    padding: 21.84px 0px;
}


.list ul {
    font-size: 14px;
    padding: 36px 0px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}


.list a {
    font-family: "Inter", sans-serif;
    text-decoration: none !important;
    color: var(--primary-color);
}


.icon ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 36px 0px;
}

.shopping {
    display: none;
}

.menu {
    display: none;
}


@media screen and (min-width: 0px) and (max-width: 579px) {

.list {
        display: none;
    }

    .icon {
        display: none;
    }

    .shopping {
        display: flex;
    }

    .menu {
        display: flex;
        order: -1;
        flex-grow: 0;
    }

     .container {
        width:100% ;
         padding: 0px 20px;
     }


    .row {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    
}



@media screen and (min-width: 580px) and (max-width: 1051px) {


    .list {
        display: none;
    }

    .icon {
        display: none;
    }

    .shopping {
        display: flex;
    }

    .menu {
        display: flex;
        order: -1;
        flex-grow: 0;
    }

     .container {
        width: calc(100% - 100px);
        margin: 0 auto;
     }


    .row {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 0;
    }

}


.collection-section .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-grow: 0;
}


img {
    width: 100%;
    display: block;
}

.collection h3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 23px;
    color: var(--primary-color);
    font-family: var(--primaryfont);
}

