* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #3A3845;
    --primaryfont: Inter;
    --secondary-color: #E5E5E5;
}



.container {
    margin: 0 auto;
    width: calc(100% - 330px);
    
}




.header {
    padding: 21.84px 0px;
}


.list ul {
    font-size: 14px;
    padding: 36px 0px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}


.list a {
    font-family: "Inter", sans-serif;
    text-decoration: none !important;
    color: var(--primary-color);
}


.icon ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 36px 0px;
}

.shopping {
    display: none;
}

.menu {
    display: none;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

 .ecommerce .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 579px) {

.list {
        display: none;
    }

    .icon {
        display: none;
    }

    .shopping {
        display: flex;
    }

    .menu {
        display: flex;
        order: -1;
        flex-grow: 0;
    }

    .header .container {
        flex-grow:0;
        width:100% ;
        padding: 0px 20px;
     }


   .header .row {
        flex-grow:0;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    
}



@media screen and (min-width: 580px) and (max-width: 1051px) {


    .list {
        display: none;
    }

    .icon {
        display: none;
    }

    .shopping {
        display: flex;
    }

    .menu {
        display: flex;
        order: -1;
        flex-grow: 0;
    }

     .header .container {
        width: calc(100% - 100px);
        margin: 0 auto;
     }


   .header .row {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 0;
    }

}


.collection-section .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:30px;
    justify-content:center;
}


img {
    width: 100%;
    display: block;
}

.collection h3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 23px;
    color: var(--primary-color);
    font-family: var(--primaryfont);
}

.ecommerce-content h3 {
    
    color: var(--primary-color);
    padding-top: 64px;
    padding-bottom: 24px;
    margin: 0;
    font-size: 30px;
}


.ecommerce-content {
    background-color: #f8f6f6;
    width: 555px;
    height: 348px;
}


.ecommerce-content p {
    padding-bottom: 32px;
    font-size: 18px;
    color: #595667;
    font-family: var(--primaryfont);
}

.ecommerce{
    padding-top: 80px;
     display: flex;
    justify-content: center !important;
}

.ecommerce-content a {

    font-size: 16px;
    color: black;
    font-family: var(--primaryfont);
    font-weight: bold;

}

@media screen and (min-width: 0px) and (max-width: 800px) {

 .ecommerce .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
     width:100%;   
    } 
    
.ecommerce-content img{
        display:flex;
        flex-grow:0;
        width:100%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1500px) {

 .ecommerce .container{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
    width:100%;
    } 
    
.ecommerce-content img{
        display:flex;
        flex-grow:0;
        width:100%;
    }

}





.Bestsellers-items {
    gap: 40px;
    padding-bottom: 80px;

}



.item h3 {
    padding-bottom: 12px;
    color: var(--primary-color);
    font-family: var(--primaryfont);
    padding-top: 24px;
    font-size: 20px;
   text-align:left;
}

.item p {
    font-family: var(--primaryfont);
    font-size: 16px;
    color: #807F86;
    padding-top: 24px;
    padding-bottom: 58px;
}


.item span {
    font-family: var(--primaryfont);
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}


.item button {
    width: 270px;
    height: 39px;
    font-family: var(--primaryfont);
    font-weight: 500;
    background-color: white;
}


.Bestsellers h1 {

    padding-top: 80px;
    padding-bottom: 48px;
    font-size: 30px;
    text-align: center;
}


.Bestsellers h2 {

    padding-top: 80px;
    padding-bottom: 48px;
    font-size: 30px;
    text-align: center;
}

.item {
    width: calc((100% - 120px) / 4);
}

@media screen and (min-width: 0px) and (max-width: 500px) {

.Bestsellers  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
    width:100%;
}

    .item {
    width: calc((100% - 120px) / 1);
}

.item button {
    width: auto;
    height: auto;
    font-family: var(--primaryfont);
    font-weight: 500;
    background-color: white;
}



}


@media screen and (min-width: 501px) and (max-width: 800px) {

.Bestsellers  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
    width:100%;
}

    .item {
    width: calc((100% - 120px) / 2);
}

.item button {
     width: auto;
    height: auto;
    font-family: var(--primaryfont);
    font-weight: 500;
    background-color: white;
}




}

@media screen and (min-width: 801px) and (max-width: 1000px) {

.Bestsellers  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
    width:100%;
}

    .item {
    width: calc((100% - 120px) / 3);
}

.item button {
    width: auto;
    height: auto;
    font-family: var(--primaryfont);
    font-weight: 500;
    background-color: white;
}



}

@media screen and (min-width: 1001px) and (max-width: 1500px) {

.Bestsellers  .container{
    grid-column: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
    width:100%;
}

    .item {
    width: calc((100% - 120px) / 4);
}

.item button {
    width: auto;
    height: auto;
    font-family: var(--primaryfont);
    font-weight: 500;
    background-color: white;
}



}




.history-item .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-grow: 0;
}


.history-item {
      margin-top: 0px;
    padding-bottom: 80px;
    background-color: #f8f6f6;
    max-width: 555px;
    height:auto;
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   padding-bottom: 80px;

}
   


.history-item h3 {
    color: var(--primary-color);
    padding-top: 64px;
    padding-bottom: 24px;
    font-size: 30px;
}


.history-item p {
    font-family: var(--primaryfont);
    padding-top: 0px;
    padding-bottom: 32px;
    font-size: 18.89px;
    color: #595667;

}

.history-item a {
    font-family: var(--primaryfont);
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}

.pic1 {
    width: 555px;
    height: auto;
}



@media screen and (min-width: 50px) and (max-width: 449px) {
     
    
  
    .history-item   .container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    flex-grow: 0;
    width:100%;
    
    }

   .pic1{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    flex-grow: 0;
    width:100%;
    }


}

@media screen and (min-width: 450px) and (max-width: 1300px) {
     
    
  
    .history-item   .container{
    grid-column: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    flex-grow: 0;
    width:100%;
    
    }

  


}